html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    font-family: monospace;
}


a {
    text-decoration: none;
}


.header-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 15vh; 
}

.header-logo {
    background-color: #885A89;
    color: #000;
    font-size: 1.5vw;
    text-align: center;
    align-content: center;
}

.header-main {
    background-color: #885A89;
    color: #000;
    font-size: 1.5vw;
    text-align: center;
    align-content: center;
}

.login-full {
    background-color: #885A89;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.header-login-container {
    background-color: #885A89;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    margin: 1vh;
    gap: 1vh;
}

.header-login-signup {
    background-color: #D1B490;
    color: #000;
    font-size: 1.5vw;
    text-align: center;
    align-content: center;
    border-radius: 2vh;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 85vh;
}


.sidebar-full {
    background-color: #CBCBD4;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.sidebar-container {
    display: grid;
    grid-template-columns: 19vw;
    grid-template-rows: repeat(5, 1fr);
    min-height: 83vh;
    justify-content: center;
    margin: 1vh;
}

.sidebar-item {
    background-color: #8AA8A1;
    color: #000;
    font-size: 1.5vw;
    text-align: center;
    align-content: center;
    border-radius: 2vh;
    margin: 2vh;
}

.sidebar-selected-item {
    background-color: #EE7B30;
    color: #000;
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
    align-content: center;
    border-radius: 2vh;
    margin: 1vh;
}

.sidebar-menu {
    background-color: #D1B490;
    color: #000;
    font-size: 1.5vw;
    text-align: center;
    align-content: center;
    border-radius: 2vh;
}

.sidebar-menu-selected {
    background-color: #EE7B30;
    color: #000;
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
    align-content: center;
    border-radius: 2vh;
}

.content-full-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 85vh;
}

.content-container-upper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 38.5vh;
    grid-column-gap: 2vh;
    margin: 2vh;
}

.content-container-lower {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40.5vh;
    margin: 2vh;
}

.content {
    padding: 2vh;
    background-color: #8AA8A1;
    color: #000;
    font-size: 1.5vw;
    text-align: center;
    border-radius: 2vh;
}
